In [0]:
import pandas as pd

In [0]:
import numpy as np

In [0]:
from vega_datasets import data

In [0]:
ap = data.airports()

In [16]:
ap.head()

,iata,name,city,state,country,latitude,longitude
0,00M,Thigpen,Bay Springs,MS,USA,31.953765,-89.234505
1,00R,Livingston Municipal,Livingston,TX,USA,30.685861,-95.017928
2,00V,Meadow Lake,Colorado Springs,CO,USA,38.945749,-104.569893
3,01G,Perry-Warsaw,Perry,NY,USA,42.741347,-78.052081
4,01J,Hilliard Airpark,Hilliard,FL,USA,30.688012,-81.905944

In [17]:
ap.shape

(3376, 7)

In [18]:
ap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3376 entries, 0 to 3375
Data columns (total 7 columns):
iata         3376 non-null object
name         3376 non-null object
city         3364 non-null object
state        3364 non-null object
country      3376 non-null object
latitude     3376 non-null float64
longitude    3376 non-null float64
dtypes: float64(2), object(5)
memory usage: 184.7+ KB

In [19]:
ap.describe()

          latitude    longitude
count  3376.000000  3376.000000
mean     40.036524   -98.621205
std       8.329559    22.869458
min       7.367222  -176.646031
25%      34.688427  -108.761121
50%      39.434449   -93.599425
75%      43.372612   -84.137519
max      71.285448   145.621384

In [20]:
ap.isnull().sum()

iata          0
name          0
city         12
state        12
country       0
latitude      0
longitude     0
dtype: int64

In [24]:
ap.isnull().any(axis=0).head(10)

iata         False
name         False
city          True
state         True
country      False
latitude     False
longitude    False
dtype: bool

In [0]:
ap2=ap[ap.isnull().any(axis=1)]

In [27]:
ap[ap.isnull().any(axis=1)][['city', 'state']]

     city state
1136  NaN   NaN
1715  NaN   NaN
2251  NaN   NaN
2312  NaN   NaN
2752  NaN   NaN
2759  NaN   NaN
2794  NaN   NaN
2795  NaN   NaN
2900  NaN   NaN
2964  NaN   NaN
3001  NaN   NaN
3355  NaN   NaN

In [0]:
import sqlite3
sqlite_engine=sqlite3.connect(':memory:')

In [30]:
ap.to_sql('ap2', con=sqlitengine)

NameError: ignored

In [0]:
ap.to_sql('ap2',con=sqlite_engine)

In [32]:
pd.read_sql("SELECT * from 'ap2' limit 10",sqlite_engine )

,index,iata,name,city,state,country,latitude,longitude
0,0,00M,Thigpen,Bay Springs,MS,USA,31.953765,-89.234505
1,1,00R,Livingston Municipal,Livingston,TX,USA,30.685861,-95.017928
2,2,00V,Meadow Lake,Colorado Springs,CO,USA,38.945749,-104.569893
3,3,01G,Perry-Warsaw,Perry,NY,USA,42.741347,-78.052081
4,4,01J,Hilliard Airpark,Hilliard,FL,USA,30.688012,-81.905944
5,5,01M,Tishomingo County,Belmont,MS,USA,34.491667,-88.201111
6,6,02A,Gragg-Wade,Clanton,AL,USA,32.850487,-86.611453
7,7,02C,Capitol,Brookfield,WI,USA,43.087510,-88.177869
8,8,02G,Columbiana County,East Liverpool,OH,USA,40.673313,-80.641406
9,9,03D,Memphis Memorial,Memphis,MO,USA,40.447259,-92.226961

In [0]:
ap_data=pd.read_sql("SELECT * from 'ap2' limit 10", sqlite_engine)

In [36]:
pd.read_sql("SELECT * from 'ap2' where city is null", sqlite_engine)

,index,iata,name,city,state,country,latitude,longitude
0,1136,CLD,MC Clellan-Palomar Airport,None,None,USA,33.127231,-117.278727
1,1715,HHH,Hilton Head,None,None,USA,32.224384,-80.697629
2,2251,MIB,Minot AFB,None,None,USA,48.415769,-101.358039
3,2312,MQT,Marquette County Airport,None,None,USA,46.353639,-87.395361
4,2752,RCA,Ellsworth AFB,None,None,USA,44.145094,-103.103567
5,2759,RDR,Grand Forks AFB,None,None,USA,47.961167,-97.401167
6,2794,ROP,Prachinburi,None,None,Thailand,14.078333,101.378334
7,2795,ROR,Babelthoup/Koror,None,None,Palau,7.367222,134.544167
8,2900,SCE,University Park,None,None,USA,40.851206,-77.846302
9,2964,SKA,Fairchild AFB,None,None,USA,47.615058,-117.655803
10,3001,SPN,Tinian International Airport,None,None,N Mariana Islands,14.996111,145.621384
11,3355,YAP,Yap International,None,None,Federated States of Micronesia,9.516700,138.100000

In [37]:
pd.read_sql("SELECT * from 'ap2'where state=null",sqlite_engine)

Empty DataFrame
Columns: [index, iata, name, city, state, country, latitude, longitude]
Index: []

In [38]:
pd.read_sql("SELECT * from 'ap2'where state is null",sqlite_engine)

,index,iata,name,city,state,country,latitude,longitude
0,1136,CLD,MC Clellan-Palomar Airport,None,None,USA,33.127231,-117.278727
1,1715,HHH,Hilton Head,None,None,USA,32.224384,-80.697629
2,2251,MIB,Minot AFB,None,None,USA,48.415769,-101.358039
3,2312,MQT,Marquette County Airport,None,None,USA,46.353639,-87.395361
4,2752,RCA,Ellsworth AFB,None,None,USA,44.145094,-103.103567
5,2759,RDR,Grand Forks AFB,None,None,USA,47.961167,-97.401167
6,2794,ROP,Prachinburi,None,None,Thailand,14.078333,101.378334
7,2795,ROR,Babelthoup/Koror,None,None,Palau,7.367222,134.544167
8,2900,SCE,University Park,None,None,USA,40.851206,-77.846302
9,2964,SKA,Fairchild AFB,None,None,USA,47.615058,-117.655803
10,3001,SPN,Tinian International Airport,None,None,N Mariana Islands,14.996111,145.621384
11,3355,YAP,Yap International,None,None,Federated States of Micronesia,9.516700,138.100000

In [39]:
pd.read_sql("SELECT * from 'ap2' where state is null or city is null", sqlite_engine)

,index,iata,name,city,state,country,latitude,longitude
0,1136,CLD,MC Clellan-Palomar Airport,None,None,USA,33.127231,-117.278727
1,1715,HHH,Hilton Head,None,None,USA,32.224384,-80.697629
2,2251,MIB,Minot AFB,None,None,USA,48.415769,-101.358039
3,2312,MQT,Marquette County Airport,None,None,USA,46.353639,-87.395361
4,2752,RCA,Ellsworth AFB,None,None,USA,44.145094,-103.103567
5,2759,RDR,Grand Forks AFB,None,None,USA,47.961167,-97.401167
6,2794,ROP,Prachinburi,None,None,Thailand,14.078333,101.378334
7,2795,ROR,Babelthoup/Koror,None,None,Palau,7.367222,134.544167
8,2900,SCE,University Park,None,None,USA,40.851206,-77.846302
9,2964,SKA,Fairchild AFB,None,None,USA,47.615058,-117.655803
10,3001,SPN,Tinian International Airport,None,None,N Mariana Islands,14.996111,145.621384
11,3355,YAP,Yap International,None,None,Federated States of Micronesia,9.516700,138.100000

In [40]:
pd.read_sql("SELECT country,count(*) from 'ap2' group by country", sqlite_engine)

                          country  count(*)
0  Federated States of Micronesia         1
1               N Mariana Islands         1
2                           Palau         1
3                        Thailand         1
4                             USA      3372